body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.formu {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
    
}

.formu h2 {
    color: #ffffff;
    margin-bottom: 20px;
}
.formu p {
    color: #a0a0a0;
    margin-bottom: 20px;
    font-size: 14px;
}
input[type = "password"], [type="text"],[type="email"] {
    background-color: #333;
    border: none;
    color: #ffffff;
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border-radius: 5px;
}


button  {
    background-color: #ffaa00;
    color: #000;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

