* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
}

h1 {
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
}

.cosito3 {
    padding-right: 10px;
}

nav {
    width: 100%;
    background-color: #000;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 7px 13px;
}

.boton {
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.cosito1 {
    background-color: #E59312;
    color: #E59312;
    text-align: center;
}

.cosito2 {
    display: flex;
    justify-content: center;
    text-align: center; 
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
}

.footer-logo img {
    width: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

footer p {
    text-align: center;
    margin: 10px 0;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.redes-sociales a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
}

.redes-sociales a:hover {
    color: #3b5998;
}

.profile {
    background: #000000;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 50%; 
}

.profile img {
    max-width: 50%; 
    height: auto; 
}

.video-links {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.video-links a:hover {
    background: #333;
    color: #fff;
}


@media (max-width: 952px) {
    .boton {
        display: block;
    }

    nav ul {
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1A141A;
        top: 0;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        padding-top: 50px;
    }

    nav ul li {
        margin: 20px 0;
    }

    #check:checked~ul {
        left: 0;
    }
}